* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*nav bar*/

.ur-logo {
    width: 10%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
}

.nav-links {
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #689ECE;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 900;
    font-family: Arial;
}