/* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}*/
*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


/* loading koder*/ 

body {
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}
html, body { min-height: 100%; }
body.loading {
  background: white url('img/UR.gif') no-repeat 50% 50%;
  -webkit-transition: background-color 0;
  transition: background-color 0;
  opacity: 0;
  -webkit-transition: opacity 0;
  transition: opacity 0;
}
/*loading slut*/
.urlogo1 {
  z-index: 1;
}

.burgerbox {
  z-index: 1;
  width: 100%;
  background: white;
  background-size: cover;
}

.navbar {
  width: 300px;
  height: 100%;
  background-color: #303030;
  position: fixed;
  top: 0;
  right: -300px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right .8s cubic-bezier(1, 0, 0, 1);
}

.change{
  right: 0;
}

.burgermenu {
  width: 35px;
  height: 30px;
  position: fixed;
  top: 20px;
  right: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.linje {
  width: 100%;
  height: 3px;
  background-color: #689ECE;
  transition: all 0.8s;
}

.change .linje-1 {
  transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .linje-2 {
  opacity: 0;
}

.change .linje-3 {
  transform: rotateZ(405deg) translate(-8px, -6px);
}

.nav-list {
  text-align: center;
}

.nav-punkt {
  list-style: none;
  margin: 25px;
}

.nav-link {
  text-decoration: none;
  font-size: 22px;
  color: #E4F0F8;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  padding: 3px 0;
}

.nav-link::before,
.nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #689ECE;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.nav-link::after {
  bottom: 0;
  transform-origin: right;
}

.nav-link::before {
  top: 0;
  transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}

/*mangler media */

/* burgermenu slut */

/*navbar koder*/
.ur-logo {
  width: 18%;
  display: none;
}

nav {
  display: none;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
}

.nav-linksbar {
  display: none;
  width: 70%;
  justify-content: space-around;
  padding-top: 20px;
}

.nav-linksbar li {
  list-style: none;
}

.nav-linksbar a {
  color: black;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 900;
  font-family: Arial;
}




.button2 {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: -6px -2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
   
   
  .button2 {
    background-color: #689ECE; 
    color: white; 
    border: 2px solid #ffffff;
    border-radius: 35px;
    width: 200px;
  }
   
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  z-index: -1;
}

/* Caption text */
.text1 {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

  /*tekstboks*/

  .textbox {
    display: block;
    width: 100%;
    height: auto;
    background-color: white;
    margin-bottom: 0px;
    margin-top: 20px;
}

.textt {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 21px;
    font-weight: 1000;
    color: black;
    text-align: center;
    margin: 10px;
    margin-left: 15%;
    margin-right: 15%;  
    padding: 4px;}

    /*Case koder*/

    .container {
      display: block;
      width: 100%;
      height: auto;
      overflow: hidden;
      background-color: white;
      margin: 20px auto;
      padding: 20px 0px;
    }
    
    .container ul {
      padding: 0px;
      margin: 0px;
     
    }
     .container ul li {
       list-style: none;
       background: white;
       margin: 40px 30px 0px 20px;
      box-sizing: border-box;
      border: 2px solid black;
      }
    
      .container ul li:hover {
        opacity: 0.9;
      }
    
     .container ul li .content{
       background: white;
       align-items: center;
     }
    
     .container ul li .content img {
       width: 100%;
       padding-top: 15px;
       align-items: center;
     }
    
     .container ul li .content p {
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       font-size: 25px; 
       text-align: center;
       padding-top: 20px;
      
    }
    
    .container ul li .content a {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 18px; 
      display: block;
      text-align: center;
      align-items: center;
      justify-content: center;
      padding-top: 20px;
      padding-bottom: 20px;
      text-transform: capitalize;
      color: black;
    }

    
     /* knap kode*/
    .knapbox{
      display: flex;
      align-items: center;
      justify-content: center;
    
    
    }
    
    .button {
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: -6px -2px;
      transition-duration: 0.4s;
      cursor: pointer;
    }
     
     
    .button1 {
      background-color: #689ECE; 
      color: white; 
      border: 2px solid #ffffff;
      border-radius: 35px;
      width: 200px;
    }
     
    .button1:hover {
      background-color: #008CBA;
      color: white;
      } 


 /* bluebox kode*/      
 .bluebox {
   width: 100%;
   display: block;
   background-color:#E4F0F8;
   margin-top: 50px;
 }

 .bluebox h2 {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 28px;
   text-align: center;
   padding-top: 20px;
   margin-bottom: 15px;
   
 }
 
 .bluebox p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
  margin-left: 45px;
  margin-right: 45px;
 }

 .bluebox a {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px; 
  font-weight: 1000;
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  color: black;
  margin-bottom: 50px;
  }


 /* carousel*/ 
 *{
  padding: 10px auto;
  margin: 10;
  font-family: 'Roboto', sans-serif;
}
main{
  width: 90%;
  height: auto;
  margin: 10px auto;
  position: relative;
  padding: 5px 10px;

}

main .text{
  padding: 10px;
  text-align: center;
  color: #554;
}
.text h1{
  font-size: 50px;
  color: #689ECE;
}

.text p{
  width: 60%;
  padding: 10px;
  margin: auto;
  line-height: 30px;
}

main header{
  width: 98%;
  height: 60px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  padding: 0;
  justify-content: space-between;
  overflow-y: auto;

}

header p span1{
  font-size: 60px;
  margin: 0 5px;
  width: 30px;
  height: 60px;
  display: inline-block;
  line-height: 19px;
  text-align: center;
  border-radius: 3px;
  }

  header p span1{
    position: absolute;
    top: 70%;
    font-weight: bold;
    color: purple;
    cursor: pointer;
    left: .2%;
    z-index: 1;
  }
  span1:nth-of-type(2){
    left: 98%;
    text-align: right;
  }

  header p span1:hover{
    color: #689ece;
  }

  section{ /*her er fejlen*/
    width: 90%;
    height: 800px;
    margin: auto;
    display: flex;
    align-items: center;
    overflow-x: auto;
  }

  section::-webkit-scrollbar{
    display: none;
  }
  section .product{
    min-width: 31%;
    height: auto;
    background: white;
    margin-top: 0 20px 0 0;
    border-radius: 20px;
    position: relative;
    left: 0;
    transition: 0.5s;
  }
  picture{
    width: 95%;
    height: 95%;
    padding: 5px;
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
  }
  picture img{
  width: 100%;
  }
  b{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }
  a{
      font-size: 12px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:blue;
  }
  /* link som knap
  a{
    text-decoration: none;
    padding: 6px 14px;
    font-size: 15px;
    margin: 5px 0 0 20px;
    display: inline-block;
    background: #6773ff;
    color: white;
  }
  */

 /* slut slider SPAN:NTH OG SECTION P SPAN SKAL REDIGERES TIL 0.7% og 94% FOR DEN IKKE KAN SCROLLE PÅ X-AKSEN */

/*sidste før footer*/
article {
  text-align: center;
  padding: 0px;
  width: 100%;
  background-color: #E4F0F8;
  height: 100%;
  font-family: arial;
  
}

article img {
  width: 65.5%;
  position: center;
}

input[type=submit] {
  font-size: 20px;
  font-weight: bold;
background-color: #689ECE;
color: white;
padding: 15px;
border: none;
border-radius: 8px;

}
  
input[type=submit]:hover {
  background-color: #5382ac;
}

.ask {
  border-radius: 5px;
  padding: 3%;
}

.find {
  border-radius: 5px;
  padding: 3%;
}

.blog {
  border-radius: 5px;
  padding: 3%;
}

.section2 {
  background-color: white;
  text-align: center;
  font-size: 13px;
  padding: 0;
  margin: 0;
  line-break: auto;
  line-height: 160%;
}


.section2 h2 {
  font-weight: bold;
  color: #56A0D3;
  font-size: 25px;
  height: 50px;
}

.section2 img {
  width: 65%;
}

.textsection {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 25px;
}

.textsection1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 25px;
}

/*slut før footer*/

/*footer*/

.telefon {
  display: flex;
  width: 100%;
}

.web {
  display: none;
}


@media only screen and (min-width: 440px) {
.telefon{
  display: none;
}  
.web {
  display: flex;
  width: 100%;
}

.web img{
  width: 100%;

}

}
@media only screen and (min-width: 700px) {

  .container ul li {
    list-style: none;
    width: 40%;
    float: left;
    background: white;
    margin: 40px 30px 0px 30px;
   box-sizing: border-box;
   border: 2px solid black;
   }

  .container ul li .content{
    background: white;
    align-items: center;
  }

  .container ul {
    padding: 0px;
    margin: 0px;
  }

}
/*carousel*/

@media(max-width: 768px)
{
    .text h1{
      font-size:35px
    }
    .text p{
      width: 90%;
    }
    header h1{
      font-size: 25px;
    }
    header p span1{
      font-size: 30px;
    }
    header p span1{
        top: 72%;
      }

section .product{
  min-width: 49%;
  margin: 0 10px 0 0;
}

a{
  padding: 6px 10px;
}
span1:nth-of-type(2){
  left: 92%;
  text-align: right;
}
}



@media only screen and (min-width: 1000px) {
  *{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .urlogo1 {
    display: none;
    z-index: 1;
  }

/*navbar koder*/

.ur-logo {
  width: 26%;
  display: flex;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
}

.nav-linksbar {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.nav-linksbar li {
  list-style: none;
}

.nav-linksbar a {
  color: black;
  text-decoration: none;
  letter-spacing: 4px;
  font-size: 18px;
  font-weight: 900;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.button2 {
    border: none;
    color: white;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: -6px -2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
   /* HJÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆÆLP */
   
  .button2 {
    background-color: #689ECE; 
    color: white; 
    border: 2px solid #ffffff;
    border-radius: 35px;
    width: 200px;
  }
   
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }

  /* Slut Nav Bar */
  
  article img {
    width: 50%;
  }

  .burgerbox {
    display: none;
  }
  .container {
    align-items: center;
    justify-content: space-between;
  }

  
  .container ul li {
    list-style: none;
    width: 20%;
    background: white;
    margin: 40px 30px 0px 30px;
   box-sizing: border-box;
   border: 2px solid black;
   }

  .container ul li .content{
    background: white;
    align-items: center;
  }
  .container ul li .content p {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
  }
  
  .textsection1 {  
  margin-left: 15%;
  margin-right: 15%;
    font-size: 19px;
  }

  .leftside {
    float: left;
    margin-left: 175px;
  }

  .righttext {
    width: 45%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  padding-top: 175px;
  padding-right: 50px;
  
  }



  .textsection {
    margin-left: 15%;
    margin-right: 15%;   
    font-size: 19px;
    }

    .rightside {
      float: right;
      margin-top: 200px;
      margin-right: 130px;
    }
  
    .lefttext {
      width: 45%;
    padding-left: 15px;
    margin-left: 15px;
    
    padding-top: 175px;
    margin-bottom: 225px;
    padding-left: 50px;
    }

  /*section*/

  .section2 img {
  width: 35%;
}

.textt {
  font-size: 35px;
  font-weight: 1000;
}

.knapbox {
  height: 150px;
}
.button {
  font-size: 24px;
  text-align: center;
}

.bluebox h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 35px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 15px;
  
}

.bluebox p {
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-size: 18px;
 text-align: center;
 margin-top: 30px;
 margin-left: 45px;
 margin-right: 45px;
}

.bluebox a {
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-size: 21px; 
 font-weight: 1000;
 display: block;
 text-align: center;
 align-items: center;
 justify-content: center;
 padding-top: 20px;
 padding-bottom: 20px;
 text-transform: uppercase;
 color: black;
 margin-bottom: 50px;
 }

 text{
  padding: 10px;
  text-align: center;
  color: #554;
}
.text h1{
  font-size: 35px;
  color: #689ECE;
}
.text p{
  width: 60%;
  padding: 5px;
  margin: auto;
  line-height: 30px;
  font-size: 18px;

/*Slut section */ 

}
}