/* burgermenu start */
*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background: white;
  background-size: cover;
}

.navbar {
  width: 300px;
  height: 100%;
  background-color: #303030;
  position: fixed;
  top: 0;
  right: -300px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right .8s cubic-bezier(1, 0, 0, 1);
}

.change{
  right: 0;
}

.burgermenu {
  width: 35px;
  height: 30px;
  position: fixed;
  top: 50px;
  right: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.linje {
  width: 100%;
  height: 3px;
  background-color: #689ECE;
  transition: all 0.8s;
}

.change .linje-1 {
  transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .linje-2 {
  opacity: 0;
}

.change .linje-3 {
  transform: rotateZ(405deg) translate(-8px, -6px);
}

.nav-list {
  text-align: center;
}

.nav-punkt {
  list-style: none;
  margin: 25px;
}

.nav-link {
  text-decoration: none;
  font-size: 22px;
  color: #E4F0F8;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  padding: 3px 0;
}

.nav-link::before,
.nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #689ECE;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.nav-link::after {
  bottom: 0;
  transform-origin: right;
}

.nav-link::before {
  top: 0;
  transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}
/* burgermenu slut */

article {
  text-align: center;
  padding: 0px;
  width: 100%;
  background-color: #E4F0F8;
  height: 100%;
  font-family: arial;
  
}

article img {
  width: 30%;
  position: center;
  background-image: url(map.jpg);
  background-position: center, top;
  background-repeat: no-repeat;
}

input[type=submit] {
  font-size: 20px;
  font-weight: bold;
background-color: #689ECE;
color: white;
padding: 15px;
border: none;
border-radius: 8px;

}
  
input[type=submit]:hover {
  background-color: #5382ac;
}

.ask {
  align-content: center;
  border-radius: 5px;
  padding: 3%;
}

.find {
  border-radius: 5px;
  padding: 3%;
}

.blog {
  border-radius: 5px;
  padding: 3%;
}

section {
  background-color: white;
  text-align: center;
  font-size: 13px;
  padding: 0;
  margin: 1%;
  line-height: 7px;
  word-spacing: 0px;
}
section h2 {
  font-weight: bold;
  color: #56A0D3;
  font-size: 25px;
}

section img {
  width: 30%;
}

